<nav>
  <div class="header">

    <h1>Comic Store</h1>

    <nav class="sign-in">

          <a class ="nav-buttons" href="/users/new">Register</a>
          <a  class ="nav-buttons" href="/sessions/new">Log In</a>

      </div>
    </nav>
