<nav>
  <div class="header">
    <h1>Comic Store</h1>
    <h3>
        <% if(currentUser) { %>
            Welcome <%=currentUser.username%>!
        <% } else { %>
            Welcome!
        <% } %>
    </h3>
    <nav class="sign-in">
      <a class ="nav-buttons" href="/users/new">Register</a>
      <a  class ="nav-buttons" href="/sessions/new">Log In</a>
        <% if(currentUser) { %>
      <a class="nav-buttons" href="/enterthephoenix">Phoenix</a>
        <% }%>
  </div>
</nav>
