<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <h1>The Comic Edit Page</h1>
            <!-- <input type="text" name="img" placeholder="image href" value="<%=comics.img %>"> -->
  </body>
</html>



        <!-- <input type="text" name="img" placeholder="image href: http;// or https://" value="<%=comics.img %>" pattern="http[s]*://.+" value="http://mrwgifs.com/wp-content/uploads/2013/04/Tepig-Crying-Sad-On-Pokemon-Gif_408x408.jpg"> -->
