<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <nav>
      <% include ../partials/header %>
    </nav>
    <% if(currentUser) { %>
      <form action="/sessions?_method=DELETE" method="POST">
          <input type="submit" value="Logout"/>
      </form>
    <% } %>
      <div id="container">
        <div class="comics">
          <% for(let i = 0; i < comics.length; i++){ %>

            <div class="comic">

            <br/>
              <a href="/comics/<%=comics[i].id%>">
              <img src="<%=comics[i].img%>">
              </a>
            <br/>
              <h3><%=comics[i].name%></h3>
            </div>
          <% } %>
        </div>
      </div>
      <nav>
        <% include ../partials/footer %>
      </nav>
  </body>
</html>
