<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <nav>
      <% include ../partials/header %>
    </nav>
      <div id="container">
        <div class="comics">
          <% for(let i = 0; i < comics.length; i++){ %>






          <% } %>
        </div>
      </div>
      <nav>
        <% include ../partials/footer %>
      </nav>
  </body>
</html>
