<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <nav>
      <% include ../partials/header %>
    </nav>
      <div id="container">
        <div class="comics">
          <% for(let i = 0; i < comics.length; i++){ %>

            <div class="comic">

            <br/>
              <a href="/comics/<%=comics[i].id%>">
              <img src="<%=comics[i].img%>">
              </a>
            <br/>
              <h3><%=comics[i].name%></h3>
            </div>
          <% } %>
        </div>
      </div>
      <div class="sign-in">
        <% if(currentUser) { %>
      <a class="nav-buttons" href="/comics/enterthephoenix">Phoenix</a>
        <% }%>
      </div>
      <% if(currentUser) { %>
        <form class="logout" action="/sessions?_method=DELETE" method="POST">
          <input class="logout" type="submit" value="Logout"/>
        </form>
      <% } %>

      <nav>
        <% include ../partials/footer %>
      </nav>
  </body>
</html>
