<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Comics</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
      <h1>Comic Store</h1>
    </header>
      <div id="container">
        <div class="comics">

        </div>
      </div>
  </body>
</html>
