<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <meta charset="utf-8">
    <title>Enter The Phoenix</title>
  </head>
  <body class="phoenix">
    <h1>
      <% if(currentUser) { %>
          Welcome <%=currentUser.username %>
      <% } %>
    </h1>

  </body>
  <footer>
    <a class ="nav-buttons" href="/comics">Go Back</a>
  </footer>
</html>
