<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <meta charset="utf-8">
    <title>Enter The Phoenix</title>
  </head>
  <body class="phoenix">
    <h1>
      <% if(currentUser) { %>
          Welcome <%=currentUser.username %>
      <% } %>
    </h1>
    <div id="container-phoenix">
      <div class="comics">
          <div class="covers">
          <img src='https://static.comicvine.com/uploads/original/14/148518/2887816-death_time_of_your_life_ad_1996.jpg'>
          </div>
          <div class="covers">
          <img src='http://1.bp.blogspot.com/-CFLUxPz-lJY/UnTcJqS7-AI/AAAAAAAAEuw/6JXDhKSbAfE/s1600/DEATH_by_Bachalo+and+TimTownsend.jpg'>
          </div>
          <div class="covers">
          <img src='https://scifijubilee.files.wordpress.com/2013/07/all-new-x-men-14-preview-1.jpg'>
          </div>
          <div class="covers">
          <img src='https://stmed.net/sites/default/files/all-new-x-men-wallpapers-27487-9818393.jpg'>
          </div>
          <div class="covers">
          <img src='https://vignette.wikia.nocookie.net/avengersvsxmen/images/b/b1/All-New_X-Men_013_Phoenix.jpeg/revision/latest?cb=20130630111702'>
          </div>
          <div class="covers">
          <img src='http://www.syfy.com/sites/syfy/files/wire/legacy/anx.jpg'>
          </div>
          <div class="covers">
          <img src='http://www.comiclist.com/media/blogs/news/X-Force_04_SecondPrintingVariant.jpg'>
          </div>
          <div class="covers">
          <img src='https://vignette.wikia.nocookie.net/wicdiv/images/c/c9/Issue_34_we_believe_variant.jpg/revision/latest?cb=20180126230248'>
          </div>
          <div class="covers">
          <img src="https://i.pinimg.com/736x/15/91/24/159124bd99ba60b7f0a4f04314f251f3.jpg">
          </div>
          <div class="covers">
          <img src='https://vignette.wikia.nocookie.net/wicdiv/images/a/a0/Lucifer-wicked-divine.jpg/revision/latest?cb=20150727131835'>
          </div>
          <div class="covers">
          <img src='https://i.pinimg.com/originals/04/89/68/0489689007a35caa7e58bbcbab66fb31.jpg'>
          </div>
          <div class="covers">
          <img src='https://vignette.wikia.nocookie.net/marveldatabase/images/f/fd/Phoenix_Resurrection_The_Return_of_Jean_Grey_Vol_1_1_Remastered_Variant.jpg/revision/latest?cb=20170921020238'>
          </div>
          <div class="covers">
          <img src='https://res.cloudinary.com/teepublic/image/private/s--aVrLMKib--/b_rgb:191920,t_Heather%20Preview/c_limit,f_jpg,h_630,q_90,w_630/v1452091976/production/designs/389295_2.jpg'>
          </div>
          <div class="covers">
          <img src='https://vignette.wikia.nocookie.net/marveldatabase/images/0/00/X-Infernus_Vol_1_1_textless.jpg/revision/latest?cb=20081206050343'>
          </div>
          <div class="covers">
          <img src='https://vignette.wikia.nocookie.net/avengersvsxmen/images/a/a4/Magik.png/revision/latest?cb=20130308232043'>
          </div>
          <div class="covers">
          <img src='https://vignette.wikia.nocookie.net/marveldatabase/images/a/a8/Cable_and_X-Force_Vol_1_7_Textless.jpg/revision/latest?cb=20130404044501'>
          </div>
          <div class="covers">
          <img src='https://comicnewbies.files.wordpress.com/2016/01/uncanny-x-men-vol1-1.jpg'>
          </div>
          <div class="covers">
          <img src='https://pbs.twimg.com/media/DKU8_b7V4AAZavw.jpg'>
          </div>
          <div class="covers">
          <img src='https://wallscover.com/images/the-sandman-wallpaper-12.jpg'>
          </div>
          <div class="covers">
          <img src='https://d1466nnw0ex81e.cloudfront.net/n_iv/600/4421697.jpg'>
          </div>
          <div class="covers">
          <img src='https://1.bp.blogspot.com/-eyIhQkexu_Q/WB-XztDb09I/AAAAAAAAa1c/-xxIv_OmNBM3VRL74C_jB5rV3lpda6O3QCLcB/s1600/lucifer%2B7.jpg'>
          </div>
          <div class="covers">
          <img src='https://www.dccomics.com/sites/default/files/imce/2015/12-DEC/LUCF_1_21_Col_900_5670c9f525e2a2.94991353.jpg'>
          </div>
      </div>
    </div>
  </body>
  <footer>
    <a class ="nav-buttons" href="/comics">Go Back</a>
  </footer>
</html>
