.header {
  background: black;
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;

  text-align: center;
  left:0;
}

body {
  margin-top: 220px;
  background-image: url("https://vignette.wikia.nocookie.net/marveldatabase/images/0/06/Jean_Grey_%28Earth-TRN240%29_from_All-New_X-Men_Vol_1_26_001.jpg/revision/latest?cb=20140430225721");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #39004d;
  background-attachment: fixed;
  margin-bottom: 50px;
}
h1:hover {
  font-size: 50px;
  -webkit-transform: scale(1.2);
}
h1 {
  font-size: 50px;
  color: #5e0080;
  text-align: center;
  text-shadow: 1px 1px 4px #0073e6;
  font-family: 'Amatic SC', cursive;
}
h4 {
  color: #0073e6;
}
.nav-buttons {
  color: hotpink;
  padding-left: 6px;
  padding-right: 6px;
}
.nav-buttons:hover {
  color: #0073e6;
  font-size: 50px;
}

.footer {
  background: black;
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  padding: 0;
  width: 100%;
  position: fixed;
  overflow: hidden;
  left: 0;
  bottom: 0;

}

img {
  max-width: 200px;
  /* max-height: 300px; */

}

#container {
  max-width: 50em;
  margin: auto;
  margin-top: 2em;
}

.comics {
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.comic {
  /* border: 20px; */
  flex-basis: 20%;
  text-align: center;
  padding: .3em;
  margin: .5em;
  height: 450px;
  background: black;
  max-width: 400px;
}
.showcomic {
  margin:auto;
  font-size: 25px;
  width:70%;
  text-align: center;
  border: .2em solid #f2f2f2;
  color: #f2f2f2;
  background:
  radial-gradient(#39004d 15%, transparent 16%) 0 0,
  radial-gradient(#39004d 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
  font-family: 'Amatic SC', cursive;
}

.sign-in {
  text-align: right;
  font-family: 'Amatic SC', cursive;
  /* color: white; */
}
.logout {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: right;
}

input {
  height: 38px;
  padding: 6px 10px;
  background-color: #0073e6;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

.user {
  display: block;
  text-align: center;
  background: black;
  margin: 6px;
  padding: 10px;
  border: 6px solid white;
}
.buy-button,button[type=button],input[type=submit]{
  background: #5e0080;
  color: white;
  width: auto;
  height: auto;
  margin: 10px;
  font-family: 'Amatic SC', cursive;
  font-size: 27px;
  border-radius: 4px;
}
.buy-button:hover,button[type=button]:hover,input[type=submit]:hover{
  background-color:white ;
  color:#5e0080 ;
  font-size: 35px;
}
.change-buttons {
  display: block;
  text-align: center;
}
p {
  margin: 10px;
}
p:hover{
  font-size: 40px;
  margin: 10px;
}
::placeholder {
  color: black;
}
